run = "npm run dev"
entrypoint = "main.js"

hidden = [".config", ".gitignore"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 42777481
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
